.my-daily-calendar {
  border: 1px solid black;
  width: 6em;
  font-family: Helvetica;
}

.my-daily-calendar header {
  background-color: red;
  color: white;
  padding: 5px;
  text-align: center;
}

.my-daily-calendar .body {
  background-color: white;
  color: black;
  padding: 5px;
  font-size: 2em;
  text-align: center;
}
